@import 'library';

@mixin svgCorner($color)
{
background-image:
    url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'><polygon fill='#{$color}' points='100,150 100,-50 0,-50 60,-30 12,-10 50,10 10,18 65,25 25,40 68,50 10,67 65,75 30,87 70,97 20,108 60,150'></polygon></svg>");
}

@mixin svgMountain($color)
{
background-image: 
    url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'><polygon fill='#{$color}' points='0,100 100,100 85,0 65,50 50,20 35,60 15,50'></polygon></svg>");
}

@include define-font('Amatic SC', normal, normal, '../fonts/amatic-bold', amaticbold);

#cover
{
    position: fixed;
    z-index: 12;

    @include position(0, 0, 0, 0);

    background: #41adde url('../img/wait.png') no-repeat center center;
}

#bk
{
    position: absolute;
    z-index: 1;

    @include position(0, 0, 0, 0);
    @include size(100%, x, 100%, x);

    background: url('../img/03_bk.png') bottom repeat-x;
}

#texture
{
    position: absolute;
    z-index: 11;

    @include position(0, 0, 0, 0);
    @include size(100%, x, 100%, x);

    opacity: .2;
    background: url('../img/paper.jpg') bottom repeat;

    filter: alpha(opacity=20);
}

body,
html
{
    overflow-y: hidden;

    width: 20000px;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;

    background-color: #222;
}

::selection
{
  background-color: transparent;
  color: #f90;
}

a,
a:link,
a:hover,
a:visited,
a:active
{
    text-decoration: none;

    color: #fff;
    border: none;
    &:focus
    {
        border: none;
        outline: none;
    }
}

#logo
{
    position: fixed;
    z-index: 12;
    @include position(0, x, x, 0);
}

section
{
    position: relative;
    display: inline-block;
    margin: -4px;
    width: 1500px;
    height: 100%;
}

.y60 { background-color: $brown; }
.y80 { background-color: $blue; }
.y90 { background-color: $purple; }
.y2k { background-color: $aqua2; }
.y2k1 { background-color: $alizarin; }

.begining::before
{
    content: "";
    margin: 0 5px;
    display: block;
    width: 170px;
    height: 100%;
    left: -170px;
    position: absolute;
    transform-origin: 100% 50%;
    transform: skewY(0deg) translateY(0px) scaleY(1.1);
    animation: dancingCorners 2s alternate infinite;
}

.begining.y60::before { @include svgCorner($brown); }
.begining.y80::before { @include svgCorner($blue); }
.begining.y90::before { @include svgCorner($purple); }
.begining.y2k::before { @include svgCorner($aqua2); }
.begining.y2k1::before { @include svgCorner($alizarin); }
.begining.smoke::before { @include svgCorner("#222"); }

@keyframes dancingCorners
{
    25%{ transform: skewY(10deg) translateY(-10px) scaleY(1.1); }
    75%{ transform: skewY(-10deg) translateY(10px) scaleY(1.1); }
}

.header::after
{
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    @include position(x, x, 0, 40%);
    @include size(540px, x, 520px, x);
    margin: 0;
    padding: 0;
    transform-origin: 100% 0;
    animation: dancingMountain 1500ms alternate infinite;
}

.header.y60::after { @include svgMountain( darken($brown, 13%) ); }
.header.y80::after { @include svgMountain( darken($blue, 30%) ); }
.header.y90::after { @include svgMountain( darken($purple, 13%) ); }
.header.y2k::after { @include svgMountain( darken($aqua2, 30%) ); }
.header.y2k1::after { @include svgMountain( darken($alizarin, 30%) ); }

@keyframes dancingMountain
{
    from{ transform: scaleY(1) translateY(0px); }
    to{ transform: scaleY(0.9) translateY(12%); }
}

nav
{
    font: normal 20pt $f_amatic;

    position: fixed;
    z-index: 15;
    display: none;
    width: 100%;
    @include position(x, x, 0, 0);
    cursor: default;
    text-align: center;
    color: #fff;

    a
    {
        cursor: pointer;
        -webkit-transition: 100ms;
                transition: 100ms;
        &:hover
        {
            font-size: 25pt;
        }
    }
}

.smoke
{
    table
    {
        font-size: 14pt;
        line-height: 25pt;

        width: 935px;
        margin: auto;

        text-align: center;

        border: 2px dashed #fff;
    }

    a
    {
        -webkit-transition: 500ms;
                transition: 500ms;

        color: #d7d7d7;

        &:hover
        {
            color: #ffe800;
        }
    }
}

#end
{
    z-index: 11;
}

.back
{
    z-index: 2;
}

.front
{
    z-index: 4;
}

article
{
    font: 40pt $f_amatic;

    position: absolute;
    z-index: 3;

    width: 100%;

    text-align: center;

    color: #fff;
}

p
{
    margin: 0;
}

h2
{
    font: normal 207pt/0 $f_amatic;
    display: block;
    position: absolute;
    z-index: 3;

    width: 100%;

    text-align: center;

    color: #fff;
}

h1,
h3
{
    font: normal 60pt/100% $f_amatic;
    display: block;
    margin: 0;
}

h4
{
    font: normal 35pt/100% $f_amatic;
    display: block;
    margin: 0 0 12px 0;
}

.significante
{
    position: absolute;
    z-index: 3;
    left: 20%;
    margin: 0;
    padding: 0;
}

#e01
{
    bottom: 0;
    @include size(284px, x, 3342px, x);
    background: url('../img/03_e01.png') center 120px no-repeat;
}

#e02
{
    bottom: 0;
    @include size(521px, x, 502px, x);
    background: url('../img/03_e02.png') center 60px no-repeat;
}

#e03
{
    top: 0;
    @include size(232px, x, 461px, x);
    background: url('../img/03_e03.png') center -40px no-repeat;
}

#e04
{
    bottom: 0;
    @include size(575px, x, 237px, x);
    background: url('../img/03_e04.png') left 10px no-repeat;
}

#e05
{
    bottom: 0;
    @include size(689px, x, 433px, x);
    background: url('../img/03_e05.png') left 50px no-repeat;
}

#e06
{
    bottom: 0;
    @include size(315px, x, 420px, x);
    background: url('../img/03_e06.png') left 50px no-repeat;
}

#e07
{
    bottom: 0;
    @include size(549px, x, 516px, x);
    background: url('../img/03_e07.png') left 10px no-repeat;
}

#e08
{
    bottom: 0;
    @include size(594px, x, 531px, x);
    background: url('../img/03_e08.png') left 10px no-repeat;
}

#e09
{
    bottom: 0;
    @include size(402px, x, 350px, x);
    background: url('../img/03_e09.png') left 130px no-repeat;
}

#e10
{
    bottom: 0;
    @include size(594px, x, 527px, x);
    background: url('../img/03_e10.png') center 10px no-repeat;
}

#e11
{
    bottom: 0;
    @include size(368px, x, 296px, x);
    background: url('../img/03_e11.png') center 10px no-repeat;
}

#e12
{
    bottom: 0;
    @include size(549px, x, 474px, x);
    background: url('../img/03_e12.png') center 10px no-repeat;
}

#e13
{
    bottom: 0;
    @include size(489px, x, 585px, x);
    background: url('../img/03_e13.png') center 10px no-repeat;
}

#e14
{
    bottom: 0;
    @include size(451px, x, 519px, x);
    background: url('../img/03_e14.png') center 10px no-repeat;
}

#e15
{
    bottom: 0;
    @include size(580px, x, 330px, x);
    background: url('../img/03_e15.png') center 0 no-repeat;
}

#e16
{
    bottom: 0;
    @include size(342px, x, 329px, x);
    background: url('../img/03_e16.png') center 10px no-repeat;
}

#e17
{
    bottom: 0;
    @include size(489px, x, 585px, x);
    background: url('../img/03_e17.png') center 10px no-repeat;
}